* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-image: url("https://source.unsplash.com/1600x900/?landscape");
    background-size: cover;
    background-repeat: no-repeat;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.title h1 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 500;
}

.main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #000;
    opacity: 0.8;
    border-radius: 25px;
    padding: 20px;
    width: 95%;
    max-width: 450px;
}

.input-city {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    font-size: 18px;
    background-color: #7c7c7c2b;
    color: #fff;
    width: 85%;
}

.button-search {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    background-color: #7c7c7c2b;
    cursor: pointer;
    float: right;
}

.img-search {
    width: 20px;
}

.box-weather-main {
    margin-top: 30px;
}

.city {
    color: #fff;
    font-size: 28px;
    font-weight: 300;
}

.weather {
    font-size: 20px;
    color: #fff;
    margin-top: 20px;
}

.box-icon-weather {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.text-forecast {
    color: #fff;
    margin-left: 20px;
    text-transform: capitalize;
}

.umidity {
    color: #fff;
    margin-top: 20px;
}